# IDE
.settings/
.buildpath
.project

# Composer
/vendor/

# Configuration
/config/app.config.php
/config/connection.config.php
/config/phpini.config.php

# Binaries
/bin/phing
/bin/phpunit
/bin/swagger

# .phar files
codecept.phar

# Others

/public/index.php
/echalegas.sq3
